<mat-list role="list">
  <mat-list-item role="listitem">
    <i class="material-icons">euro_symbol</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Fidélité disponible</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons">card_giftcard</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Fidélité en attente: 0,00 €</span>
  </mat-list-item>
  <mat-list-item role="listitem">
    <i class="material-icons">loyalty</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Fidélité utilisée : 0,00 €</span>
  </mat-list-item>
</mat-list>
