

<br/>

<mat-list role="list">

  <mat-list-item id="ticket_info" role="listitem">

       <span mat-line>
         <span><strong>Ticket 844</strong></span>
         <span class="fill-list"></span>
           <span><button mat-icon-button>
            <mat-icon >print</mat-icon>
           </button></span>
       </span>
       <span mat-line id="vente">24.00€ Vente</span>
       <span mat-line id="date">22 juin 2018 à 15:08:12</span>
  </mat-list-item>

</mat-list>


<mat-list class="footer" id="info_prix" role="list">

  <mat-list-item id="prix" role="listitem">Total HT
      <span class="fill-list"></span>
    <span>
      <span id="prix">65,45 €</span>
    </span>

  </mat-list-item>


  <mat-list-item id="prix" role="listitem">Total TTC
      <span class="fill-list"></span>
    <span>
      <span id="prix">75,25 €</span>
    </span>

  </mat-list-item>


</mat-list>




