.fill-toolbar {
  flex : 1 1 auto;
}

span{
font-weight:lighter;
}

.figure{
  text-align:center;
}

.phrase{
  margin-top:1%;
  color:#626262;
}

#img-person{
  background-color:#e1e1e1;
  border-radius:100px;
  width: 80px;
  height: 80px;
}

mat-card{
    margin-left: auto;
    margin-right: auto;
    width:310px;
    height:330px;
    background-color:FFFFFF;
}

#personn{
  font-size:100px;
  color:grey;
}

mat-form-field{
width: 100%;

}

a{
  text-decoration:none;
  color:#2962ff;
}

#aide{
  float:left;
}

#pass_oublier{
  float:right;
}

.bouton{
  width:90%;
  background-color:#2962ff;
  color:white;

}
