<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="goBack()">clear</mat-icon>
  </button>
  <span>Création client</span>
  <span class="fill-toolbar"></span>
  <span>
    <button mat-icon-button>
      <mat-icon (click)="add(client.name);">check</mat-icon>
    </button>
  </span>
  <span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

          <mat-menu #menu="matMenu">

            <button mat-menu-item>
              <span>Support</span>
            </button>

            <button mat-menu-item >
              <span>Aide</span>
            </button>

          </mat-menu>
  </span>
</mat-toolbar>

  <app-client [client]="client"></app-client>

