/* CSS pour Client */

label{
color:white;
}

#info{

font-size:14px;

}


p{
margin-left:20px;
font-size:14px;
}

.fill-toolbar {
  flex : 1 1 auto;
}

.mat-icon-button{
  color:white;
}

i{
  color:white;
  margin-top:10px;

}
